* {
  margin: 0%;
  padding: 0%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin-bottom: 20px;
}

hr {
  position: relative;
  top: 550px;
  width: 75%;
  left: 400px;
  color: darkgray;
  background-color: darkgray;
  border: none;
  height: 1px;
}

#cabecalho {
  position: absolute;
  box-shadow: 0px 0px 10px #DDDDDD;
  height: 100%;
}

#cabecalho h1 {
  background-color: dimgray;
  color: white;
  width: 370px;
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: 100;
}

#cabecalho h1 img{
  margin-left: 30px;
}

#cabecalho ul li {
  padding: 30px;
  font-size: 20px;
}

#cabecalho ul li img {
  margin-right: 20px;
  
}

#dados-perfil {
  display: inline;
  position: absolute;
  left: 400px;
}

#dados-perfil img {
  margin-top: 20px;
  margin-bottom: 10px;
}

#dados-perfil h2 {
  font-weight: 100;
}

#dados-perfil h2:nth-child(2) {
  color: gray;

}

#dados-perfil h2:nth-child(4) {
  display: inline;

}

#dados-perfil img:nth-child(3) {
  display: inline;
  margin: 0%;
  margin-top: 20px;
}

#artigo {
  position: relative;
  top: 600px;
  left: 400px;
  width: 75%;
}

#perfil-botoes {
  position: absolute;
  font-size: 15px;
  top: 52%;
  left: 22%;
}

#perfil-botoes1 {
  padding: 10px;
  display: inline;
  background-color: #EDEDED;
}

#perfil-botoes1 h3 {
  font-weight: 100;
  display: inline;
}

#perfil-botoes1 img {
  display: inline;
  margin-left: 15px;
}

#perfil-botoes2 {
  margin-left: 10px;
  padding: 10px;
  display: inline;
  background-color: #EDEDED;
}

#perfil-botoes2 h3{
  font-weight: 100;
  display: inline;
}

#perfil-botoes2 img {
  display: inline;
  margin-left: 15px;
}