* {
  margin: 0%;
  padding: 0%;
}

#cabecalho {
  margin-top: 70px;
  margin-bottom: 30px;
}

main {
  margin-left: 30px;
}

#basic {
  position: absolute;
  display: inline;
  width: 200px;
}

#pro {
  position: absolute;
  display: inline;
  width: 200px;
  left: 20%;
}

#premium {
  position: absolute;
  display: inline;
  width: 200px;
  left: 40%;
}

#title-basic {
  background-color: black;
  color: white;
}

#title-pro {
  background-color: #4CAF50;
  color: white;
}

#title-premium {
  background-color: black;
  color: white;
}

.sign-up {
  background-color: #4CAF50;
  color: white;
}
